# Superfluous folders
notebooks/
.idea/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files
*.parquet
*.csv
*.json
*.log
*.env

# OS-specific
.DS_Store
Thumbs.db
